:root {
  /* Colores del logo */
  --color-primary: #013464; /* azul principal */
  --color-primary-light: #98c3e7; /* variante clara */

  --color-secondary: #3cb371; /* verde menta */
  --color-secondary-light: #66c285; /* variante clara */
  --color-secondary-dark: #2e8b57; /* variante oscura */

  /* Neutros */
  --color-neutral-light: #f5f5f5; /* fondos, cards */
  --color-neutral-medium: #e0e0e0; /* separadores, bordes suaves */
  --color-neutral-dark: #333333; /* textos principales */

  /* Color de acento */
  --color-accent: #ffd700; /* botones de acción, iconos */
}
